---
import '@styles';
import { ClientRouter } from 'astro:transitions'

interface Props {
	title?: string;
};

const { title = 'Search CRoyale' } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<ClientRouter/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
	<body class="font-[Source_Sans_Pro] bg-[url('background-image.webp')] bg-cover">
		<main class="max-w-lg min-h-screen mx-auto">
			<header class="py-10 flex flex-col items-center">
				<img src="clash-royale-logo.webp" alt="logo del clash" class="w-48">
				<h1 class="text-4xl font-bold bg-linear-to-b from-yellow-400 via-yellow-500 to-yellow-400 bg-clip-text text-transparent">Search CRoyale</h1>
			</header>

			<slot />
		</main>
	</body>
</html>